{{#with charity}}
<h2>{{title}}</h2>
<p>{{description}}</p>
<p>{{email}}</p>
<p>{{phoneNumber}}</p>
<p>{{iban}}</p>
<p>{{address}}</p>
<p>{{city}}</p>

<a href="/charities/{{charity._id}}/new">Donate</a>

<a href="/charities/{{charity._id}}/target/new">Add Target</a>

{{#each targets}}
<p>{{this.title}}</p>
<a href="charities/{{charity._id}}/target/{{this._id}}/edit">Edit Target</a>
{{/each}}
{{/with}}