<h2>{{message}}</h2>
{{#with charity}}
    <h2>Edit {{title}}</h2>
    <form action="/charities/{{charity._id}}" method="POST">
        <input type="text" name="charity[title]" value="{{title}}" placeholder="title">
        <input type="text" name="charity[description]" value="{{description}}" placeholder="description">
        <input type="text" name="charity[email]" value="{{email}}" placeholder="email">
        <input type="text" name="charity[phoneNumber]" value="{{phoneNumber}}" placeholder="phoneNumber">
        <input type="text" name="charity[iban]" value="{{iban}}" placeholder="iban">
        <input type="text" name="charity[address]" value="{{address}}" placeholder="address">
        <input type="text" name="charity[city]" value="{{city}}" placeholder="city">
        <button type="submit">Save</button>
    </form>
{{/with}}