<form action="user/{{user._id}}" method="POST">

{{#with user}}
<img src="{{avatar}}" alt="Avatar">
<input type="text" name="firstName" value="{{firstName}}" placeholder="firstName"></input>
<input type="text" name="lastName" value="{{lastName}}" placeholder="lastName"></input>
<input type="text" name="age" value="{{age}}" placeholder="age"></input>
{{/with}}

<button type="submit">Save</button>
</form>