<h2>{{message}}</h2>
{{#with user}}
    <form action="user/{{_id}}" method="POST">
        <img src="{{avatar}}" alt="Avatar">
        <input type="text" name="firstName" value="{{firstName}}" placeholder="firstName"></input>
        <input type="text" name="lastName" value="{{lastName}}" placeholder="lastName"></input>
        <input type="text" name="age" value="{{age}}" placeholder="age"></input>
        <button type="submit">Save</button>
    </form>
{{/with}}