<form action="#" method="POST">
<img src="{{avatar}}" alt="Avatar">
<input type="text" name="firstName" placeholder="firstName"></input>
<input type="text" name="lastName" placeholder="lastName"></input>
<input type="text" name="age" placeholder="age"></input>
<p>{{description}}</p>
<p>{{email}}</p>
<p>{{city}}</p>
<p>{{firstName}} {{lastName}}</p>
<p>{{age}}</p>
</form>