{{#with user}}
<h2>Hello, {{username}}</h2>
<img src="{{avatar}}" alt="Avatar">
<p>{{description}}</p>
<p>{{email}}</p>
<p>{{city}}</p>
<p>{{firstName}} {{lastName}}</p>
<p>{{age}}</p>

<a href="/user/{{user._id}}">Edit profile</a>

<p>Products</p>
<ul>
{{#each products}}
  <li>{{this.title}}</li>
  <a href="/products/{{product._id}}/edit">Edit product</a>
{{/each}}
</ul>

<hr>

<p>Charities</p>
<ul>
{{#each charities}}
  <li>{{this.title}}</li>
  <a href="/charities/{{charity._id}}/edit">Edit charity</a>
{{/each}}
</ul>

<hr>

<p>Orders</p>
<ul>
{{#each orders}}
  <li>{{this.number}}</li>
  <a href="/orders/{{order._id}}/edit">Edit order</a>
{{/each}}
</ul>