{{#with product}}
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>{{price}}</p>
    <p>{{quantity}}</p>
{{/with}}

{{#if (isProductAuthor user product._id)}}
        <a href="/products/{{product._id}}/edit">Edit Product</a>
{{/if}}

{{#if (isProductAuthor user product._id)}}
    <form action="/products/{{product._id}}/delete" method="post">
        <button type="submit">Delete product</button>
    </form>
{{/if}}