{{#with product}}
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>{{price}}</p>
    <p>{{quantity}}</p>

    <a href="/products/{{_id}}/edit">Edit Product</a>

    <form action="/products/{{_id}}/delete" method="post">
        <button type="submit">Delete product</button>
    </form>
{{/with}}