<section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="product">
              <div class="col-md-5">
                <div class="product-image">
                  <div class="zoom-gallery">
                    <a href="http://placehold.it/320x360" title="Title Here 1"><img src="http://placehold.it/320x360" alt=""></a>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="product-summary">
                  <h2 class="product-title lbl-blue">{{product.title}}</h2>
  
                  <div class="price"> <span class="amount" style="color: #F88540;">{{product.price}} лв.</span> </div>
                  <div class="short-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos enim minus ratione sed neque, explicabo placeat libero obcaecati repellendus modi! Consequatur ad ullam, architecto voluptatum eaque natus temporibus unde dignissimos!</p>
                  </div>
                  <div class="tags"><strong>Charity:</strong>{{product.charity.title}}</div>
                  <div class="category"><strong>Category:</strong> <a href="#">{{product.category.title}}</a></div>

                  <div class="cart-form-wrapper mt-30">
                    <form action="/products/order/new" enctype="multipart/form-data" method="POST" class="cart">
                      <input type="hidden" value="{{product._id}}" name="productId">
                      <table class="table variations no-border">
                        <tbody>
                          <tr>
                            <td class="name">Amount</td>
                            <td class="value">
                              <div class="quantity buttons_added">
                                <input type="button" class="minus" value="-">
                                <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                <input type="button" class="plus" value="+">
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <a href="/products/order/{{product._id}}/new" class="single_add_to_cart_button btn btn-orange" type="submit">Buy</a>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="horizontal-tab product-tab">
                  <ul class="nav nav-tabs">
                    <li class="active"><a style="background-color: #F88540;">Description</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                      <h3>Product Description</h3>
                      <p>{{product.description}}</p>
                    </div>


                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </section>




{{!-- 
{{#with product}}
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>{{price}}</p>
    <p>{{quantity}}</p>
{{/with}}

{{#if (isProductAuthor user product._id)}}
    <a href="/products/{{product._id}}/edit">Edit Product</a>
{{/if}}

{{#if (isProductAuthor user product._id)}}
    <form action="/products/{{product._id}}/delete" method="post">
        <button type="submit">Delete product</button>
    </form>
{{/if}} --}}