<section>
      <div class="container" style="margin-left: 24%;">
        <div class="section-content">
          <div class="row">
            <div class="product">
              <h2 class="product-title lbl-blue ml-10">{{product.title}}</h2>
              <div class="col-md-5">
                <div class="product-image">
                  <div class="zoom-gallery">
                    <a href="{{product.imageUrl}}" title="{{product.title}}"><img src="{{product.imageUrl}}" alt="image"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                <div class="widget">
                  <h5 class="widget-title line-bottom">Charities you can support</h5>
                  <div class="owl-carousel-1col" data-dots="true">
                    {{#each product.charities}}
                    <div class="item">
                      <img src="{{this.imageUrl}}" alt="charity">
                      <h4 class="title">{{this.title}}</h4>
                    </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            <div class="product-summary">
              <div class="row">
                <div class="col-lg-5">              
                    <div class="price"><span class="amount" style="color: #F88540; font-size: 24px;">{{product.price}} лв.</div>        
                    <div class="category"><strong style="font-size: 16px;">Category:</strong> <a href="#">{{product.category.title}}</a></div>
                </div>
                <div class="col-lg-4">
                  <div class="cart-form-wrapper mt-15">
                      <input type="hidden" value="{{product._id}}" name="productId">

                      <div class="form-group">
                        <label class="sr-only" for="exampleInputAmount"></label>
                        <div class="input-group">
                          <div class="input-group-addon">Amount:</div>
                              <div class="quantity buttons_added">

                                     <input type="button" class="minus" value="-">
                                <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1" id="exampleInputAmount">
                                <input type="button" class="plus" value="+">
                                </div>
                        </div>
                      </div>

                  </div>
                </div>
                <div class="col-lg-1">
                    <div {{#unless isProductAuthor}} class="mt-15" {{/unless}}>
                      <a href="/products/order/{{product._id}}/new" class="single_add_to_cart_button btn btn-orange pull-right">Buy</a> 
                    </div>
                    <div class="clearfix"></div>
                    <div>
                      {{#if isProductAuthor}}
                      <a href="/products/{{product._id}}/edit" class="single_add_to_cart_button btn btn-orange pull-right" style="margin-top: 5px;">Edit</a>
                      {{/if}}
                    </div>
                </div>
            </div>
              </div>
              <div class="col-md-10">
                <div class="horizontal-tab product-tab">
                  <ul class="nav nav-tabs">
                    {{!-- <li class="active"><a style="background-color: #F88540;">Description</a></li> --}}
                  </ul>
                  <div class="tab-content pt-0">
                    <div class="tab-pane fade in active" id="tab1">
                      <h3>Product Description</h3>
                      <p>{{product.description}}</p>
                    </div>


                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </section>




{{!-- 
{{#with product}}
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p>{{price}}</p>
    <p>{{quantity}}</p>
{{/with}}

{{#if (isProductAuthor user product._id)}}
    <a href="/products/{{product._id}}/edit">Edit Product</a>
{{/if}}

{{#if (isProductAuthor user product._id)}}
    <form action="/products/{{product._id}}/delete" method="post">
        <button type="submit">Delete product</button>
    </form>
{{/if}} --}}